html {
    height: 100%;
}

body{ /* achtergrond */
    background-color: #000000;
    background-image: url(images/Rick.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container { /* body */
    margin-left: 200px;
    margin-right: 200px;
    width: 1024px;
}

header{ /* locatie van logo */
    height: 118px;
    text-align: left;
}

nav { /* box 1 boven */
    background-color: rgba(90, 90, 90, 0.623);
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

main { /* midden text */
    height: 400px;
    padding-top: 80px;  /* Padiing midden margin boven*/
    padding-left: 240px;
    padding-right: 240px;
}

footer { /* box 2 beneden */
    background-color: rgba(0, 0, 0, 0.651);
    padding-left: 30px;
    padding-right: 30px;
}

h1{ /* kop instellingen*/
    font-size: 84px;
    color: red;
    font-family: 'Cafe Francoise', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 { /* kop 2 instellingen*/
    font-size: 45px;
    color: red;
    font-family: 'Cafe Francoise', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p { /* midden text */
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: 'Cafe Francoise', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: rgb(255, 255, 255);
    font-family: 'Cafe Francoise', Tahoma, Geneva, Verdana, sans-serif;
    /* text-decoration: none; */
}


nav a{ /* nav text */
    text-decoration: none;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
}

footer p { /* website gemaakt text */
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.671);
}
footer a { /* troll link */
    font-size: 14px;
    padding-left: 420px;
    color: rgba(255, 0, 0, 0.411);
}
.video {/* yt video */
    padding-left: 98px;
    padding-bottom: 15px;
}

